<div class="my-12" x-data="{ showPreview: false, logoPreviewSrc: '#' }">
  <%= form_for [:admin, artist, album], data: { turbo: false } do |form| %>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <%= render "shared/forms/text_field", field: :title, form: form, label: "Album title" %>
      </div>
      <div class="sm:col-span-4">
        <%= render "shared/forms/text_field", field: :file_under, form: form, label: "File under" %>
      </div>
      <div class="sm:col-span-4">
        <%= form.label :release_date, "Release date", class: "form-label" %>
        <%= form.date_field :release_date, class: "form-input" %>
      </div>
      <div class="col-span-full">
        <%= form.label :main_image, "Main image", class: "form-label" %>
        <div class="my-4">
          <% if album.main_image.attached? %>
            <%= image_tag album.main_image, width: "150px" %>
          <% end %>
          <img width="150px" x-show="showPreview" x-bind:src="logoPreviewSrc" />
        </div>

        <div class="mt-2">
          <%= form.file_field :main_image, class: "form-file-input", accept: 'image/png, image/jpeg', "x-on:change" => "showPreview = true; logoPreviewSrc = URL.createObjectURL($event.target.files[0]);" %>
        </div>
      </div>
      <div class="col-span-full flex items-end">
        <%= button_tag "Save", class: "btn-primary", type: "submit" %>
        <%= link_to 'Cancel', admin_artist_path(artist), class: 'btn-secondary ml-8' %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Delete', admin_artist_album_path(album, artist_id: artist), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn-alert' %>