<h1>Artists</h1>

<% if can_edit_data? %>
  <div class="my-8">
    <%= link_to new_artist_path do %>
      <%= button_tag "Add new artist", class: "btn-secondary" %>
    <% end %>
  </div>
<% end %>

<div class="my-8">
  <%= form_for @artist_search, url: artists_path, method: :get, data: { turbo: false } do |form| %>
    <%= render "shared/forms/text_field", form: form, field: :search, label: "Search" %>
  <% end %>
</div>

<em><%= number_with_delimiter(@artist_search.artist_count) %> <%= 'artist'.pluralize(@artist_search.artist_count) %></em>

<ul role="list" class="divide-y divide-gray-100 my-8">
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist_path(artist) do %>
        <div class="w-full py-5">
          <p class="font-semibold leading-6 text-gray-900"><%= artist_display_name(artist) %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render "shared/pagination", collection: @artists %>