<div class="my-12">
  <%= form_for [:admin, listening_session], data: { turbo: false } do |form| %>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <%= form.label :date, "Date", class: "form-label" %>
        <%= form.date_field :date, class: "form-input" %>
      </div>
      <div class="sm:col-span-4">
        <%= render "shared/forms/select_field", form: form, field: :session_type, label: "Session type", select_options: session_type_select_options %>
      </div>
      <div class="sm:col-span-4">
        <%= render "shared/forms/text_field", form: form, field: :theme, label: "Theme" %>
      </div>
      <div class="sm:col-span-4">
        <%= render "shared/forms/text_area", form: form, field: :notes, label: "Notes" %>
      </div>
      <div class="col-span-full">
        <%= form.label :images, "Images", class: "form-label" %>
        <%= form.file_field :images, class: "form-file-input", accept: 'image/png, image/jpeg', multiple: true %>
      </div>
      <div class="col-span-full flex items-end">
        <%= button_tag "Save", class: "btn-primary", type: "submit" %>
        <%= link_to "Cancel", listening_session.persisted? ? admin_listening_session_path(listening_session) : admin_listening_sessions_path, class: "btn-secondary ml-8" %>
      </div>
    </div>
  <% end %>
</div>
<% if listening_session.persisted? %>
  <%= link_to "Delete", admin_listening_session_path(listening_session), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "btn-alert" %>
<% end%>