<div class="my-12">
  <%= form_for [:admin, listening_session] do |form| %>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <%= form.label :date, "Date", class: "form-label" %>
        <%= form.date_field :date, class: "form-input" %>
      </div>
      <div class="sm:col-span-4">
        <%= render "shared/forms/select_field", form: form, field: :session_type, label: "Session type", select_options: session_type_select_options %>
      </div>
      <div class="sm:col-span-4">
        <%= render "shared/forms/text_field", form: form, field: :theme, label: "Theme" %>
      </div>
      <div class="sm:col-span-4">
        <%= render "shared/forms/text_area", form: form, field: :notes, label: "Notes" %>
      </div>
      <div class="col-span-full">
        <%= form.label :images, "Images", class: "form-label" %>
        <%= form.file_field :images, class: "form-file-input", accept: 'image/png, image/jpeg', multiple: true %>
      </div>
      <% if listening_session.images.attached? %>
        <div class="col-span-full flex">
          <% listening_session.images.each do |image| %>
            <div class="p-5 mx-2 border border-solid border-gray-800">
              <%= image_tag image, width: "200px", height: "200px" %>
              <%= link_to admin_listening_session_listening_session_image_path(image, listening_session_id: listening_session), data: { "turbo-method": :delete } do %>
                <%= button_tag 'Delete', class: 'btn-alert my-2' %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-span-full">
        <%= form.label :albums, "Albums", class: "form-label" %>
        <% if listening_session.listening_session_albums.any? %>
          <div class="col-span-full flex my-2">
            <% listening_session.listening_session_albums.each do |listening_session_album| %>
              <div class="p-5 mx-2 border border-solid border-gray-800">
                <% if listening_session_album.album.main_image.attached? %>
                  <%= image_tag listening_session_album.album.main_image, width: "200px", height: "200px" %>
                <% end %>
                <div>
                  <strong><%= album_display_name(listening_session_album.album) %></strong>
                </div>
                <div>
                  Picker: <%= listening_session_album.yokos_member.name %>
                </div>
                <%= link_to admin_listening_session_listening_session_album_path(listening_session_album.album, listening_session_id: listening_session), data: { "turbo-method": :delete } do %>
                  <%= button_tag 'Delete', class: 'btn-alert my-2' %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if listening_session.persisted? %>
          <%= link_to new_admin_listening_session_listening_session_album_path(listening_session_id: listening_session) do %>
            <%= button_tag "Add album", class: 'btn-secondary' %>
          <% end %>
        <% end %>
      </div>
      <div class="col-span-full flex">
        <%= button_tag "Save", class: "btn-primary", type: "submit" %>
        <div class="ml-8">
          <%= link_to admin_listening_sessions_path do %>
            <%= button_tag "Cancel", class: "btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>