<h1>Movie</h1>

<div class="flex flex-col gap-10 pt-12 sm:flex-row">
  <% if @movie.main_image.attached? %>
    <%= image_tag @movie.main_image, class: "w-96 flex-none rounded-2xl object-cover" %>
  <% end %>
  <div class="max-w-xl flex-auto">
    <h3><%= @movie.title %></h3>
    <% if @movie.file_under.present? %>
      <p class="text-base leading-7 text-gray-600">File under: <%= @movie.file_under %></p>
    <% end %>
    <p class="text-base leading-7 text-gray-600">Released: <%= @movie.release_year %></p>
    <% if @movie.artist.present? %>
      <p class="text-base leading-7 text-gray-600">Artist: <%= link_to @movie.artist.name, artist_path(@movie.artist) %></p>
    <% end %>
    <% if @movie.listening_sessions.any? %>
      <div class="my-2">
        <h3>Sessions</h3>
        <% @movie.listening_sessions.each do |listening_session| %>
          <p><%= link_to listening_session.date.strftime("%B %-d, %Y"), listening_session_path(listening_session) %></p>
        <% end %>
      </div>
    <% end %>
    <div class="my-2">
      <%= render "shared/links", owner: @movie %>
    </div>
  </div>
</div>

<% if can_edit_data? %>
  <div class="my-6">
    <%= link_to edit_movie_path(@movie) do %>
      <%= button_tag "Edit Movie", class: "btn-secondary" %>
    <% end %>
  </div>
<% end %>