<h1>YOKOS Sessions</h1>

<% if can_edit_data? %>
  <div class="my-8">
    <%= link_to new_listening_session_path do %>
      <%= button_tag "Add new session", class: "btn-secondary" %>
    <% end %>
  </div>
<% end %>

<ul role="list" class="divide-y divide-gray-100 my-8">
  <% @listening_sessions.each do |ls| %>
    <li>
      <%= link_to listening_session_path(ls) do %>
        <div class="w-full py-5">
          <p class="font-semibold leading-6 text-gray-900"><%= ls.date.present? ? ls.date.strftime("%B %-d, %Y") : "Unknown" %></p>
          <p class="mt-1 truncate text-sm leading-5 text-gray-500"><%= ls.session_type&.humanize %></p>
          <% if ls.theme.present? %>
            <p class="mt-1 truncate text-sm leading-5 text-gray-500">Theme: <%= ls.theme %></p>
          <% end %>
          <% if ls.albums.any? %>
            <p class="mt-1 truncate text-sm leading-5 text-gray-500">Albums: <%= ls.albums.map { |album| album_display_name(album) }.join(", ") %></p>
          <% end %>
          <% if ls.movies.any? %>
            <p class="mt-1 truncate text-sm leading-5 text-gray-500">Movies: <%= ls.movies.map { |movie| movie.title }.join(", ") %></p>
          <% end %>
          <% if ls.notes.present? %>
            <p class="mt-1 text-sm leading-5 text-gray-500 max-w-xl">Notes: <span class="text-xs"><%= ls.notes %></span></p>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>