<h1>YOKOS Session</h1>

<div class="mt-6">
  <dl class="divide-y divide-gray-100">
    <%= render "shared/list_row", row_title: "Date", row_text: @listening_session.date.strftime("%B %-d, %Y") %>
    <%= render "shared/list_row", row_title: "Type", row_text: @listening_session.session_type.humanize %>
    <%= render "shared/list_row", row_title: "Theme", row_text: @listening_session.theme.presence || "N/A" %>
    <%= render "shared/list_row", row_title: "Notes", row_text: @listening_session.notes %>
    <%= render "shared/list_row", row_title: "Links", row_text: render("shared/links", owner: @listening_session, header: false) %>
  </dl>
</div>

<% if can_edit_data? %>
  <div class="my-6">
    <%= link_to edit_listening_session_path(@listening_session) do %>
      <%= button_tag "Edit Session", class: "btn-secondary" %>
    <% end %>
  </div>
<% end %>

<div class="mt-12">
  <div class="flex items-center my-6">
    <h2>Albums</h2>
    <% if can_edit_data? %>
      <div class="p-4 ml-4">
        <%= link_to "+ Add Album", new_listening_session_listening_session_album_path(listening_session_id: @listening_session), class: 'btn-secondary p-1' %>
      </div>
    <% end %>
  </div>

  <% @listening_session.listening_session_albums.each do |listening_session_album| %>
    <% album = listening_session_album.album %>
    <div class="flex flex-col gap-10 sm:flex-row mb-16">
      <% if album.main_image.attached? %>
        <div>
          <%= link_to artist_path(album.artist) do %>
            <%= image_tag album.main_image, class: "w-52 flex-none rounded-2xl object-cover" %>
          <% end %>
          <% if can_edit_data? %>
            <div class="my-4">
              <%= link_to listening_session_listening_session_album_path(album, listening_session_id: @listening_session), data: { "turbo-method": :delete } do %>
                <%= button_tag 'Remove', class: 'btn-alert p-1' %>
              <% end %>
            </div>
          <% end%>
        </div>
      <% end %>
      <div class="max-w-xl flex-auto">
        <h3><%= album_display_name(album) %></h3>
        <% if album.file_under.present? %>
          <p class="text-base leading-7 text-gray-600">File under: <%= album.file_under %></p>
        <% end %>
        <p class="text-base leading-7 text-gray-600">Release date: <%= album.release_date.strftime("%B %-d, %Y") %></p>
        <p class="text-base leading-7 text-gray-600">Picked by: <%= listening_session_album.yokos_member.name %></p>
        <div class="my-2">
          <%= render "shared/links", owner: album, edit: false %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-12">
  <div class="flex items-center my-6">
    <h2>Movies</h2>
    <% if can_edit_data? %>
      <div class="p-4 ml-4">
        <%= link_to "+ Add Movie", new_listening_session_listening_session_movie_path(listening_session_id: @listening_session), class: 'btn-secondary p-1' %>
      </div>
    <% end %>
  </div>

  <% @listening_session.movies.each do |movie| %>
    <div class="flex flex-col gap-10 sm:flex-row mb-16">
      <% if movie.main_image.attached? %>
        <div>
          <%= link_to movie_path(movie) do %>
            <%= image_tag movie.main_image, class: "w-52 flex-none rounded-2xl object-cover" %>
          <% end %>
          <% if can_edit_data? %>
            <div class="my-4">
              <%= link_to listening_session_listening_session_movie_path(movie, listening_session_id: @listening_session), data: { "turbo-method": :delete } do %>
                <%= button_tag 'Remove', class: 'btn-alert p-1' %>
              <% end %>
            </div>
          <% end%>
        </div>
      <% end %>
      <div class="max-w-xl flex-auto">
        <h3><%= movie.title %></h3>
        <% if movie.file_under.present? %>
          <p class="text-base leading-7 text-gray-600">File under: <%= movie.file_under %></p>
        <% end %>
        <p class="text-base leading-7 text-gray-600">Release year: <%= movie.release_year %></p>
        <% if movie.artist.present? %>
          <p class="text-base leading-7 text-gray-600">Artist: <%= link_to movie.artist.name, artist_path(movie.artist) %></p>
        <% end %>
        <div class="my-2">
          <%= render "shared/links", owner: movie, edit: false %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if can_view_session_images? %>
  <div class="mt-12">
    <div class="flex items-center my-6">
      <h2>Images</h2>
      <% if can_edit_data? %>
        <div class="p-4 ml-4">
          <%= link_to "+ Add Images", edit_listening_session_path(@listening_session), class: 'btn-secondary p-1' %>
        </div>
      <% end %>
    </div>
    <% if @listening_session.images.attached? %>
      <div class="col-span-full flex">
        <%= render "shared/image_grid/image_grid", images: @listening_session.images %>
      </div>
    <% end %>
  <div>
<% end %>
