<h1>Artist</h1>

<div>
  <%= link_to "Back to all artists", admin_artists_path %>
</div>

<div class="flex flex-col gap-10 pt-12 sm:flex-row">
  <% if @artist.main_image.attached? %>
    <%= image_tag @artist.main_image, class: "w-96 flex-none rounded-2xl object-cover" %>
  <% end %>
  <div class="max-w-xl flex-auto">
    <h3><%= @artist.name %></h3>
    <% if @artist.file_under.present? %>
      <p class="text-base leading-7 text-gray-600">File under: <%= @artist.file_under %></p>
    <% end %>
    <div class="my-2">
      <%= render "shared/links", owner: @artist %>
    </div>
  </div>
</div>

<% if can_edit_data? %>
  <div class="my-6">
    <%= link_to edit_admin_artist_path(@artist) do %>
      <%= button_tag "Edit Artist", class: "btn-secondary" %>
    <% end %>
  </div>
<% end %>

<h2 class="mt-8">Albums</h2>

<% @artist.albums.sorted.each do |album| %>
  <div class="flex flex-col gap-10 pt-12 sm:flex-row">
    <% if album.main_image.attached? %>
      <%= image_tag album.main_image, class: "w-52 flex-none rounded-2xl object-cover" %>
    <% end %>
    <div class="max-w-xl flex-auto">
      <h3><%= album.title %></h3>
      <% if album.file_under.present? %>
        <p class="text-base leading-7 text-gray-600">File under: <%= album.file_under %></p>
      <% end %>
      <p class="text-base leading-7 text-gray-600">Release date: <%= album.release_date.strftime("%B %-d, %Y") %></p>
      <div class="my-2">
        <%= render "shared/links", owner: album %>
      </div>
      <% if can_edit_data? %>
        <div>
          <%= link_to "Edit Album", edit_admin_artist_album_path(@artist, album) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if can_edit_data? %>
  <div class="my-6">
    <%= link_to new_admin_artist_album_path(artist_id: @artist) do %>
      <%= button_tag "Add Album", class: "btn-secondary" %>
    <% end %>
  </div>
<% end %>