<h1>Artist</h1>

<div>
  <%= link_to "Back to all artists", admin_artists_path %>
</div>

<div class="flex flex-col gap-10 pt-12 sm:flex-row">
  <% if @artist.main_image.attached? %>
    <%= image_tag @artist.main_image, class: "w-96 flex-none rounded-2xl object-cover" %>
  <% end %>
  <div class="max-w-xl flex-auto">
    <h3><%= @artist.name %></h3>
    <% if @artist.file_under.present? %>
      <p class="text-base leading-7 text-gray-600">File under: <%= @artist.file_under %></p>
    <% end %>
    <div class="my-2">
      <%= render "shared/links", owner: @artist %>
    </div>
  </div>
</div>

<% if can_edit_data? %>
  <div class="my-6">
    <%= link_to edit_admin_artist_path(@artist) do %>
      <%= button_tag "Edit Artist", class: "btn-secondary" %>
    <% end %>
  </div>
<% end %>

<div class="mt-12">
  <div class="flex items-center my-6">
    <h2>Albums</h2>
    <% if can_edit_data? %>
      <div class="p-4 ml-4">
        <%= link_to "+ New Album", new_admin_artist_album_path(artist_id: @artist), class: 'btn-secondary p-1' %>
      </div>
    <% end %>
  </div>

  <% @artist.albums.sorted.each do |album| %>
    <div class="flex flex-col gap-10 sm:flex-row mb-16">
      <% if album.main_image.attached? %>
        <div>
          <%= image_tag album.main_image, class: "w-52 flex-none rounded-2xl object-cover" %>
          <% if can_edit_data? %>
            <div class="my-4">
              <%= link_to "Edit Album", edit_admin_artist_album_path(@artist, album), class: 'btn-secondary p-1' %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="max-w-xl flex-auto">
        <h3><%= album.title %></h3>
        <% if album.file_under.present? %>
          <p class="text-base leading-7 text-gray-600">File under: <%= album.file_under %></p>
        <% end %>
        <p class="text-base leading-7 text-gray-600">Release date: <%= album.release_date.strftime("%B %-d, %Y") %></p>
        <div class="my-2">
          <%= render "shared/links", owner: album %>
        </div>
      </div>
    </div>
  <% end %>
</div>