<h1>Albums</h1>

<div class="my-8">
  <%= form_for @album_search, url: albums_path, method: :get, data: { turbo: false } do |form| %>
    <%= render "shared/forms/text_field", form: form, field: :search, label: "Search" %>
  <% end %>
</div>

<em><%= number_with_delimiter(@album_search.album_count) %> <%= 'album'.pluralize(@album_search.album_count) %></em>

<ul role="list" class="divide-y divide-gray-100 my-8">
  <% @albums.each do |album| %>
    <li>
      <%= link_to artist_path(album.artist) do %>
        <div class="w-full py-5">
          <p class="font-semibold leading-6 text-gray-900"><%= album_search_display_name(album) %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render "shared/pagination", collection: @albums %>